# pyrocko == 2023.06.29 is also needed, but for this I recommend doing a user installation from source instead of using pip
certifi==2023.7.22
charset-normalizer==3.2.0
contourpy==1.1.0
cycler==0.11.0
decorator==5.1.1
filelock==3.9.0
fonttools==4.42.0
greenlet==2.0.2
h5py==3.9.0
idna==3.4
Jinja2==3.1.2
kiwisolver==1.4.4
lxml==4.9.3
MarkupSafe==2.1.2
matplotlib==3.7.2
mpmath==1.2.1
nest-asyncio==1.5.7
networkx==3.0
numpy==1.25.2
obspy==1.4.0
packaging==23.1
pandas==2.0.3
Pillow==10.0.0
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
scipy==1.11.1
seisbench==0.4.1
six==1.16.0
SQLAlchemy==2.0.20
sympy==1.11.1
torch==2.0.1+cpu
torchaudio==2.0.2+cpu
torchvision==0.15.2+cpu
tqdm==4.66.1
typing_extensions==4.4.0
tzdata==2023.3
urllib3==2.0.4
